/* global variable  */
* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
}

:root {
  --main-color: #9900ff;
  --secondary: #0a142f;
  --white: #ffffff;
  --gray: #c9c9c9;
  --main-font: "Poppins";
  --display_padding: 30px;
}

/* navbar customize */
.t-bg-nav {
  background-color: var(--main-color);
}

.t-nav-ul > li {
  padding-inline: 10px;
}

.t-nav-ul > li > a {
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: bold;
}

.t-icon > a {
  padding-inline: 10px;
}

/* banner section */
.t-banner-image {
  margin-top: -2px;
  padding-inline: var(--display_padding);
}

.t-banner-heading-1 {
  font-size: 43px;
  color: var(--white);
  font-family: "Ubuntu";
  line-height: 47px;
  padding-top: 17%;
}

.t-banner-heading-2 {
  font-family: "Raleway";
  font-size: 43px;
  line-height: 47px;
  color: var(--white);
  padding-top: 4%;
}

.t-banner-heading-3 {
  font-family: "Bebas Neue";
  font-style: normal;

  font-size: 43px;
  line-height: 47px;
  padding-top: 4%;
  color: var(--white);
}

.t-banner-blog {
  padding-top: 3%;
  padding-bottom: 10px;
}

.t-banner-blog-des {
  font-family: var(--main-font);
  font-weight: 600;
}

/* recent blog */
.t-recent-blog {
  padding-inline: var(--display_padding);
}

.t-recent-blog-ul > li {
  list-style: none;
  text-decoration: none;
  float: left;
}

.t-recent-blog-ul > li > a {
  padding-inline: 10px;
  color: var(--gray);
  text-decoration: none;
  font-family: var(--main-font);
  text-transform: uppercase;
}

.t-recent-blog-card {
  width: 100%;
  margin-bottom: 25px;
}

.t-recent-blog-image {
  position: relative;
  border-radius: 2%;
}

.t-recent-blog-image-title {
  position: absolute;
  left: 50px;
  top: 150px;
  right: 50px;
  font-weight: 600;
  color: white;
  font-family: var(--main-font);
  font-size: 16px;
}

/* trending tech */
.t-trending {
  padding-inline: var(--display_padding);
}

.t-trending-heading {
  font-family: var(--main-font);
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 700;

  font-size: 11px;
}

.t-trending-title {
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  font-family: var(--main-font);
  margin-bottom: 0px;
}

.t-trending-date {
  font-weight: 400;
  font-family: var(--main-font);
  font-size: 13px;
  line-height: 0px;
}

.t-trending-body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
}
.t-trending-post-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0px;
}

/* tech tips */
.t-tech-tip-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.t-tech-tips-body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
}

/* popular article */
.t-popular-body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

/* right side add */
.right-side-add-1 {
  width: 302px;
  height: 340px;
}

.right-side-add-2 {
  width: 302px;
  height: 516px;
}

/* event */
.t-event-body {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

/* footer */
.footer {
  padding-inline: var(--display_padding);
  height: 300px;
  background-color: #0a142f;
  padding-top: 70px;
}

.t-footer-ul {
  text-align: center;
  text-decoration: none;
  list-style: none;
}

.t-footer-ul > li {
  padding-inline: 12px;
  float: left;
}

.t-footer-ul > li > a {
  color: white;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 34px;
  text-transform: uppercase;
}

/* footer */
  .footer-text {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: white;
  }

/* midea query banner text */
@media (max-width: 768px) {
  .t-banner-heading-3 {
    padding-bottom: 10px;
  }

  .t-banner-heading-1 {
    font-size: 12px;
    line-height: 15px;
  }

  .t-banner-heading-2 {
    font-size: 12px;
    line-height: 15px;
  }

  .t-banner-heading-3 {
    font-size: 12px;
    line-height: 15px;
  }

  .t-recent-blog-ul {
    display: none;
  }

  .t-recent-blog-image-title {
    left: 10px;
    right: 10px;
    text-align: center;
    top: 50px;
    font-weight: 600;
    color: white;
    font-family: var(--main-font);
    font-size: 12px;
  }
  .t-recent-blog-image {
    height: 120px;
  }

  .t-trending-img {
    height: 200px;
  }

  .t-trending-post-image {
    height: 90px;
  }

  /* tech tips */
  .t-tech-tip-title {
    font-size: 12px;
    line-height: 12px;
  }
  .t-tech-tips-body {
    display: none;
  }

  .t-tech-tips-image {
    height: 120px;
    width: 130px;
  }

  /* right side add */
  .right-side-add-1 {
    width: 100%;
    height: 270px;
  }

  .right-side-add-2 {
    width: 100%;
    height: 376px;
  }

  
}
