/* global variable  */
* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
}

:root {
  --main-color: #9900ff;
  --secondary: #0a142f;
  --white: #ffffff;
  --gray: #c9c9c9;
  --main-font: "Poppins";
  --display_padding: 30px;
}

/* navbar customize */
.t-bg-nav {
  background-color: var(--main-color);
}

.t-nav-ul > li {
  padding-inline: 10px;
}

.t-nav-ul > li > a {
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: bold;
}

.t-icon > a {
  padding-inline: 10px;
}

/* banner section */
.t-banner-image {
  margin-top: -2px;
  padding-inline: var(--display_padding);
}

.t-banner-heading-1 {
  font-size: 43px;
  color: var(--white);
  font-family: var(--main-font);
  line-height: 47px;
  padding-top: 17%;
}

.t-banner-heading-2 {
  font-family: var(--main-font);
  font-size: 43px;
  line-height: 47px;
  color: var(--white);
  padding-top: 4%;
}

.t-banner-heading-3 {
  font-family: var(--main-font);
  font-style: normal;

  font-size: 43px;
  line-height: 47px;
  padding-top: 4%;
  color: var(--white);
  margin-bottom: 0px;
}

.t-banner-blog-a {
  text-decoration: none !important;
  color: white;
  list-style: none;
}

.t-banner-blog {
  padding-top: 3%;
  padding-bottom: 10px;
}

.t-banner-blog-des {
  font-family: var(--main-font);
  font-weight: 600;
}

/* recent blog */
.t-recent-blog {
  padding-inline: var(--display_padding);
}

.t-recent-blog-ul > li {
  list-style: none;
  text-decoration: none;
  float: left;
}

.t-recent-blog-ul > li > a {
  padding-inline: 10px;
  color: var(--gray);
  text-decoration: none !important;
  font-family: var(--main-font);
  text-transform: uppercase;
}

.t-recent-blog-card {
  width: 100%;
  margin-bottom: 25px;
}

.t-recent-blog-image {
  position: relative;
  border-radius: 2%;
}

.t-recent-blog-image-title {
  position: absolute;
  left: 50px;
  top: 150px;
  right: 50px;
  font-weight: 600;
  color: white;
  font-family: var(--main-font);
  font-size: 16px;
  text-decoration: none !important;
}

/* trending tech */
.t-trending {
  padding-inline: var(--display_padding);
}

.t-trending-heading {
  font-family: var(--main-font);
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: 700;

  font-size: 11px;
}

.t-trending-title {
  font-weight: 600;
  font-size: 18px;
  font-style: normal;
  font-family: var(--main-font);
  margin-bottom: 0px;
}

.t-trending-date {
  font-weight: 400;
  font-family: var(--main-font);
  font-size: 13px;
  line-height: 0px;
}

.t-trending-body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
}
.t-trending-post-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0px;
}

.t-trending-post-title > a {
  text-decoration: none !important;
  color: #3a444d;
}
/* tech tips */
.t-tech-tip-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.t-tech-tip-title > a {
  text-decoration: none !important;
  color: #3a444d;
}

.t-tech-tips-body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
}

/* popular article */
.t-popular-body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #3a444d;
  text-decoration: none !important;
}

/* right side add */
.right-side-add-1 {
  width: 302px;
  height: 340px;
}

.right-side-add-2 {
  width: 302px;
  height: 516px;
}

/* event */
.t-event-body {
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.t-event-body > a {
  text-decoration: none !important;
  color: #3a444d;
}

/* footer */
.footer {
  padding-inline: var(--display_padding);
  height: 300px;
  background-color: #0a142f;
  padding-top: 70px;
}

.t-footer-ul {
  text-align: center;
  text-decoration: none;
  list-style: none;
}

.t-footer-ul > li {
  padding-inline: 12px;
  float: left;
}

.t-footer-ul > li > a {
  color: white;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 12px;
  line-height: 34px;
  text-transform: uppercase;
}

/* category page */
.category-title {
  font-family: var(--main-font);
  font-size: 55px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
}

.t-cat-article-number {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 2.6500000953674316px;
  text-align: left;
}

.t-category-body {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.3499999940395355px;
  text-align: left;
}

.t-category-title{
  text-decoration: none !important;
  color: #3a444d;
}

.t-single-blog-title {
  font-family: var(--main-font);
  font-size: 35px;
  font-weight: 600;
  line-height: 46px;
  letter-spacing: -0.875px;
  text-align: left;
  color: #3a444d;
}

.t-blog-detail-author {
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

.t-blog-detail-cercle {
  width: 6px;
  height: 6px;
  top: 7.94000244140625px;
  left: 117px;
}
.t-blog-detail-body {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #49545e;
}
/* footer */
.footer-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

/* midea query banner text */
@media (max-width: 768px) {
  .t-banner-heading-3 {
    padding-bottom: 10px;
  }

  .t-banner-heading-1 {
    font-size: 12px;
    line-height: 15px;
  }

  .t-banner-heading-2 {
    font-size: 12px;
    line-height: 15px;
  }

  .t-banner-heading-3 {
    font-size: 12px;
    line-height: 15px;
  }

  .t-recent-blog-ul {
    display: none;
  }

  .t-recent-blog-image-title {
    left: 10px;
    right: 10px;
    text-align: center;
    top: 50px;
    font-weight: 600;
    color: white;
    font-family: var(--main-font);
    font-size: 12px;
  }
  .t-recent-blog-image {
    height: 120px;
  }

  .t-trending-img {
    height: 200px;
  }

  .t-trending-post-image {
    height: 90px;
  }

  /* tech tips */
  .t-tech-tip-title {
    font-size: 12px;
    line-height: 12px;
  }
  .t-tech-tips-body {
    display: none;
  }

  .t-tech-tips-image {
    height: 120px;
    width: 130px;
  }

  /* right side add */
  .right-side-add-1 {
    width: 100%;
    height: 270px;
  }

  .right-side-add-2 {
    width: 100%;
    height: 376px;
  }

  /* category */
  .t-cat-image {
    width: 100%;
    height: 100px;
  }

  .t-category-body {
    font-size: 10px;
    line-height: 12px;
    margin-top: 3px;
  }

  .t-single-blog-title{
    font-size: 13px;
    line-height: 15px;
  }

  .t-single-blog-img{
    width: 100%;
    height: 300px;
  }
}
